@import url("https://fonts.googleapis.com/css?family=Quicksand");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

p, h1, h2, h3, h4, h5, h6 {
  padding: 1em;
  line-height: 1.25em;
}

img {
  width: 100%;
  height: 100%;
}

.logo {
  background: #125b77;
  color: #eeeeee;
  font-size: 1rem;
  line-height: 5em;
  padding: 0 2em;
}

.logo h1 {
  padding: .5em;
}

.dropdown a {
  cursor: pointer;
}

.dropdown .dropdown-menu {
  padding: .1em;
  position: absolute;
  background-color: #555555;
  color: #eeeeee;
  display: none;
}

.dropdown .dropdown-menu li {
  float: none;
  display: block;
}

.dropdown .dropdown-menu li a {
  display: block;
  line-height: 3em;
  height: 3em;
  padding: 0 1em;
}

.dropdown .dropdown-menu li a:hover {
  background: #eeeeee;
  color: #555555;
}

.dropdown.active .dropdown-menu {
  display: block;
}

.nav-main .dropdown-menu {
  background: #111122;
  color: #eeeeee;
}

.nav {
  background: #cccccc;
  color: #333333;
}

.nav * {
  z-index: 100;
}

.nav a {
  -webkit-transition: color 200ms,background-color 200ms;
  transition: color 200ms,background-color 200ms;
}

.nav-main {
  width: 100%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  background: #111122;
  color: #eeeeee;
}

@media (max-width: 768px) {
  .nav-main.active .nav-toggle {
    border-bottom: 2px solid #333366;
  }
  .nav-main.active > ul {
    display: block;
  }
}

.nav-main .nav-toggle {
  display: none;
  font-size: 1.5rem;
  padding: 1em;
  background: #111122;
  color: #eeeeee;
  position: relative;
}

.nav-main .nav-toggle .menu-icon {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 50%;
  right: 5%;
}

.nav-main .nav-toggle:hover {
  background: #cccccc;
  color: #333333;
}

@media (max-width: 768px) {
  .nav-main .nav-toggle {
    display: block;
  }
}

.nav-main > ul {
  overflow: hidden;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .nav-main > ul {
    display: none;
    overflow: visible;
    width: 100%;
  }
}

.nav-main > ul li {
  float: left;
}

@media (max-width: 768px) {
  .nav-main > ul li {
    display: block !important;
    float: none !important;
  }
}

.nav-main > ul li a {
  white-space: nowrap;
  cursor: pointer;
  display: block;
  height: 5em;
  line-height: 5em;
  padding: 0 2em !important;
}

.nav-main > ul li a:hover {
  background: #cccccc;
  color: #333333;
}

.nav-main .nav-main-user {
  float: right;
}

.nav-main .nav-main-user a > * {
  margin-left: 1em;
}

.nav-main .nav-main-user .user-sign-out {
  margin: 0 .5em 0 0;
}

@media (max-width: 768px) {
  .nav-main .dropdown .dropdown-menu {
    position: relative;
    padding: 0;
    border-top: 1px solid #333366;
    border-bottom: 1px solid #333366;
  }
}

[role="button"] {
  font-size: 1.2em;
  margin: 1em 2em;
  padding: .3em;
  border: 3px solid #4af;
  border-radius: .3em;
  background: #ffffff;
  cursor: pointer;
  outline: none;
}

[class*="form-group"] {
  padding: 1em;
  margin: 1em;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

[class*="form-group"] .error-list {
  padding: .3em;
  background-color: rgba(170, 0, 0, 0.26);
  color: #ff0000;
}

input[type="submit"] {
  font-size: 1.2em;
  margin: 1em 2em;
  padding: .3em;
  border: 3px solid #4af;
  border-radius: .3em;
  background: #ffffff;
  cursor: pointer;
  outline: none;
}

.form-group-text,
.form-group-password {
  padding: 2em 0 .5em 0;
  position: relative;
  background-color: transparent;
  color: #333333;
}

.form-group-text.valid label,
.form-group-password.valid label {
  top: 1em;
  font-size: .85em;
}

.form-group-text label,
.form-group-password label {
  pointer-events: none;
  position: absolute;
  top: 2.5em;
  -webkit-transition: top 300ms,font-size 300ms;
  transition: top 300ms,font-size 300ms;
  left: 1.5rem;
  line-height: 1em;
  color: #aaaaaa;
  font-family: "Georgia", "Times", "Times New Roman", serif;
  font-style: italic;
}

.form-group-text input,
.form-group-password input {
  font-size: 1.5rem;
  border: none;
  border-bottom: 3px solid #3af;
  background: transparent;
  outline: none;
  color: inherit;
}

.form-group-text input:focus ~ label,
.form-group-password input:focus ~ label {
  top: 1em;
  font-size: .85em;
}

.form-group-checkbox {
  padding: .3em;
  margin: .7em;
  background-color: transparent;
  color: #333333;
}

.form-group-checkbox label {
  cursor: pointer;
}

.form-group-checkbox label input {
  display: none;
}

.form-group-checkbox label input:not(:checked):not(:disabled) ~ .unchecked {
  display: inline-block;
}

.form-group-checkbox label input:checked:not(:disabled) ~ .checked {
  display: inline-block;
}

.form-group-checkbox label input:disabled:not(:checked) ~ .disabled {
  display: inline-block;
}

.form-group-checkbox label input:disabled:checked ~ .checked {
  display: inline-block;
  color: #777777;
}

.form-group-checkbox label .unchecked, .form-group-checkbox label .checked, .form-group-checkbox label .disabled {
  display: none;
}

.form-group-checkbox label .unchecked {
  color: #dddddd;
}

.form-group-checkbox label .checked {
  color: #3af;
}

.form-group-checkbox label .disabled {
  color: #777777;
}

.form-group-switch {
  background-color: transparent;
  color: #333333;
}

.form-group-switch label {
  padding: 0 .5em;
  line-height: 1.5rem;
  float: left;
}

.form-group-switch input {
  cursor: pointer;
  float: left;
  font-size: 1.5rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 1em;
  width: 2em;
  outline: none;
  background: #dddddd;
  border-radius: 1em;
  -webkit-transition: background-color 100ms;
  transition: background-color 100ms;
  position: relative;
  -webkit-box-shadow: inset 0 0 0.1em rgba(0, 0, 0, 0.5);
  -ms-box-shadow: inset 0 0 0.1em rgba(0, 0, 0, 0.5);
  -o-box-shadow: inset 0 0 0.1em rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 0.1em rgba(0, 0, 0, 0.5);
}

.form-group-switch input:checked {
  background-color: #3af;
}

.form-group-switch input:after {
  content: '';
  height: 1em;
  width: 1em;
  background-color: #ffffff;
  border-radius: 1em;
  position: absolute;
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
  left: 0;
  -webkit-transition: left 100ms;
  transition: left 100ms;
  -webkit-box-shadow: 0 0.1em rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 0 0.1em rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 0.1em rgba(0, 0, 0, 0.5);
  box-shadow: 0 0.1em rgba(0, 0, 0, 0.5);
}

.form-group-switch input:checked::after {
  left: 1em;
}

.form-group-switch input:disabled {
  background-color: #777777;
}

.form-group-switch input:disabled:checked {
  background-color: #152e43;
}

.form-group-switch input:disabled:checked::after {
  background-color: #aaaaaa;
}

.form-group-radio label {
  cursor: pointer;
}

.form-group-radio label input {
  display: none;
}

.form-group-radio label input:not(:checked) ~ .unchecked {
  display: inline-block;
}

.form-group-radio label input:checked ~ .checked {
  display: inline-block;
}

.form-group-radio label input:disabled ~ .checked,
.form-group-radio label input:disabled ~ .unchecked {
  display: none;
}

.form-group-radio label input:disabled ~ .disabled {
  display: inline-block;
}

.form-group-radio label .unchecked, .form-group-radio label .checked, .form-group-radio label .disabled {
  display: none;
}

.form-group-radio label .unchecked {
  color: #777777;
}

.form-group-radio label .checked {
  color: #4af;
}

.form-group-radio label .disabled {
  color: #aaaaaa;
}

.form-group-file label {
  font-weight: 700;
  background: #004f64;
  color: #dddddd;
  padding: .7em;
  cursor: pointer;
}

.form-group-file label .upload-file-icon {
  margin: 0 .3em 0 0;
}

.form-group-file label.valid {
  background: #3af;
  color: #dddddd;
}

.form-group-file input {
  opacity: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  position: absolute;
  z-index: -10000;
}

.space-1 {
  margin-bottom: 1rem;
}

.space-2 {
  margin-bottom: 2rem;
}

.space-3 {
  margin-bottom: 3rem;
}

.space-4 {
  margin-bottom: 4rem;
}

.space-5 {
  margin-bottom: 5rem;
}

.space-6 {
  margin-bottom: 6rem;
}

.space-7 {
  margin-bottom: 7rem;
}

.space-8 {
  margin-bottom: 8rem;
}

.space-9 {
  margin-bottom: 9rem;
}

.space-10 {
  margin-bottom: 10rem;
}

.space-11 {
  margin-bottom: 11rem;
}

.space-12 {
  margin-bottom: 12rem;
}

[class*="grid"] {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

[class*="grid"][class*="gap-inner-1"] {
  grid-gap: 1em;
}

[class*="grid"][class*="gap-outer-1"] {
  padding: 1em;
}

[class*="grid"][class*="gap-all-1"] {
  padding: 1em;
  grid-gap: 1em;
}

[class*="grid"][class*="gap-inner-2"] {
  grid-gap: 2em;
}

[class*="grid"][class*="gap-outer-2"] {
  padding: 2em;
}

[class*="grid"][class*="gap-all-2"] {
  padding: 2em;
  grid-gap: 2em;
}

[class*="grid"][class*="gap-inner-3"] {
  grid-gap: 3em;
}

[class*="grid"][class*="gap-outer-3"] {
  padding: 3em;
}

[class*="grid"][class*="gap-all-3"] {
  padding: 3em;
  grid-gap: 3em;
}

[class*="grid"][class*="gap-inner-4"] {
  grid-gap: 4em;
}

[class*="grid"][class*="gap-outer-4"] {
  padding: 4em;
}

[class*="grid"][class*="gap-all-4"] {
  padding: 4em;
  grid-gap: 4em;
}

[class*="grid"][class*="gap-inner-5"] {
  grid-gap: 5em;
}

[class*="grid"][class*="gap-outer-5"] {
  padding: 5em;
}

[class*="grid"][class*="gap-all-5"] {
  padding: 5em;
  grid-gap: 5em;
}

[class*="grid"][class*="gap-inner-6"] {
  grid-gap: 6em;
}

[class*="grid"][class*="gap-outer-6"] {
  padding: 6em;
}

[class*="grid"][class*="gap-all-6"] {
  padding: 6em;
  grid-gap: 6em;
}

[class*="grid"][class*="gap-inner-7"] {
  grid-gap: 7em;
}

[class*="grid"][class*="gap-outer-7"] {
  padding: 7em;
}

[class*="grid"][class*="gap-all-7"] {
  padding: 7em;
  grid-gap: 7em;
}

[class*="grid"][class*="gap-inner-8"] {
  grid-gap: 8em;
}

[class*="grid"][class*="gap-outer-8"] {
  padding: 8em;
}

[class*="grid"][class*="gap-all-8"] {
  padding: 8em;
  grid-gap: 8em;
}

[class*="grid"][class*="gap-inner-9"] {
  grid-gap: 9em;
}

[class*="grid"][class*="gap-outer-9"] {
  padding: 9em;
}

[class*="grid"][class*="gap-all-9"] {
  padding: 9em;
  grid-gap: 9em;
}

[class*="grid"][class*="gap-inner-10"] {
  grid-gap: 10em;
}

[class*="grid"][class*="gap-outer-10"] {
  padding: 10em;
}

[class*="grid"][class*="gap-all-10"] {
  padding: 10em;
  grid-gap: 10em;
}

[class*="grid"][class*="gap-inner-11"] {
  grid-gap: 11em;
}

[class*="grid"][class*="gap-outer-11"] {
  padding: 11em;
}

[class*="grid"][class*="gap-all-11"] {
  padding: 11em;
  grid-gap: 11em;
}

[class*="grid"][class*="gap-inner-12"] {
  grid-gap: 12em;
}

[class*="grid"][class*="gap-outer-12"] {
  padding: 12em;
}

[class*="grid"][class*="gap-all-12"] {
  padding: 12em;
  grid-gap: 12em;
}

[class*="grid"][class*="auto"] {
  -ms-grid-columns: none;
      grid-template-columns: none;
  grid-auto-columns: minmax(-webkit-min-content, 1fr);
  grid-auto-columns: minmax(min-content, 1fr);
}

[class*="grid"][class*="center"] {
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

[class*="grid"][class*="left"] {
  justify-items: start;
}

[class*="grid"][class*="right"] {
  justify-items: end;
}

[class*="grid"][class*="top"] {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

[class*="grid"][class*="bottom"] {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

@media (max-width: 768px) {
  [class*="grid"] > * {
    grid-column: span 12 !important;
  }
}

.row-1 {
  grid-row: span 1;
}

.row-2 {
  grid-row: span 2;
}

.row-3 {
  grid-row: span 3;
}

.row-4 {
  grid-row: span 4;
}

.row-5 {
  grid-row: span 5;
}

.row-6 {
  grid-row: span 6;
}

.row-7 {
  grid-row: span 7;
}

.row-8 {
  grid-row: span 8;
}

.row-9 {
  grid-row: span 9;
}

.row-10 {
  grid-row: span 10;
}

.row-11 {
  grid-row: span 11;
}

.row-12 {
  grid-row: span 12;
}

.row-all {
  grid-row: span 1000;
}

.col-1 {
  grid-column: span 1;
}

.col-2 {
  grid-column: span 2;
}

.col-3 {
  grid-column: span 3;
}

.col-4 {
  grid-column: span 4;
}

.col-5 {
  grid-column: span 5;
}

.col-6 {
  grid-column: span 6;
}

.col-7 {
  grid-column: span 7;
}

.col-8 {
  grid-column: span 8;
}

.col-9 {
  grid-column: span 9;
}

.col-10 {
  grid-column: span 10;
}

.col-11 {
  grid-column: span 11;
}

.col-12 {
  grid-column: span 12;
}

.col-13 {
  grid-column: span 13;
}

.col-14 {
  grid-column: span 14;
}

.col-15 {
  grid-column: span 15;
}

.col-16 {
  grid-column: span 16;
}

.col-17 {
  grid-column: span 17;
}

.col-18 {
  grid-column: span 18;
}

.col-19 {
  grid-column: span 19;
}

.col-20 {
  grid-column: span 20;
}

.col-21 {
  grid-column: span 21;
}

.col-22 {
  grid-column: span 22;
}

.col-23 {
  grid-column: span 23;
}

.col-24 {
  grid-column: span 24;
}

.col-all {
  grid-column: span 1000;
}

[class*="col"][class*="center"] {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

[class*="col"][class*="left"] {
  -ms-grid-column-align: start;
      justify-self: start;
}

[class*="col"][class*="right"] {
  -ms-grid-column-align: end;
      justify-self: end;
}

[class*="col"][class*="top"] {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

[class*="col"][class*="bottom"] {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

[class*="items"] {
  display: -ms-grid;
  display: grid;
}

[class*="items"][class*="center"] {
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

[class*="items"][class*="left"] {
  justify-items: start;
}

[class*="items"][class*="right"] {
  justify-items: end;
}

[class*="items"][class*="top"] {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

[class*="items"][class*="bottom"] {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.center-text {
  text-align: center;
}

.modal {
  z-index: 1000000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  display: none;
}

.modal.active {
  display: block;
}

.modal .modal-container {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 1em;
  border-radius: 1em;
  background: #dddddd;
  -webkit-box-shadow: 0 0 0.3em 0 rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0 0 0.3em 0 rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 0 0.3em 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 0.3em 0 rgba(0, 0, 0, 0.3);
  position: relative;
}

body {
  font-family: Open Sans, sans-serif;
  min-height: 200vh;
  position: relative;
}

body .no-account {
  padding: 1em;
}
